---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import LiveDemo from "../components/LiveDemo.astro";
import ParaQuien from "../components/ParaQuien.astro";
import Features from "../components/Features.astro";
import Onboarding from "../components/Onboarding.astro";
import Pricing from "../components/Pricing.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import { faqJsonLd } from "../data/faqs";
---

<Layout preloadHero={true} jsonLd={faqJsonLd()}>
  <Nav />
  <main>
    <Hero />
    <LiveDemo />
    <ParaQuien />
    <Features />
    <Onboarding />
    <Pricing />
    <FAQ />
  </main>
  <Footer />
</Layout>
